.pagination{
    display: flex;
    justify-content: end;
    
    .page-item{
        .page-link{
            color: rgb(231, 120, 0);
        }

        &.active {
            .page-link{
                background-color: rgb(231, 120, 0);
                border-color: rgb(231, 120, 0);
            }
        }

    }
}