$phone-min-width: 320px;
$phone-max-width: 480px;

$tablet-min-width: 481px;
$tablet-max-width: 768px;

$laptop-min-width: 769px;
$laptop-max-width: 1024px;

.details-home-container {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        height: 40px
    }

    .detail-text {
        .title {
            margin: unset;
            font-family: "Space Grotesk";
            font-weight: 700;
        }

        .subtitle {
            margin: unset;
            font-family: "Space Grotesk";
        }
    }
}

//PHONE
@media screen and (min-width: $phone-min-width) and (max-width: $phone-max-width) {
    img {
        height: 20px
    }

    .details-wrapper {
        .details-home-container {
            justify-content: center;
            min-width: 100%;
            line-height: 1.2;
            gap: 20px;
        }
    }
}


//TABLET
@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .home-page-main-container {
        .details-wrapper {
            .details-home-container {
                display: flex;
                
                justify-content: center;
                min-width: 100%;
                line-height: 1.2;
                text-align: center;
            }

            img {
                height: 30px
            }
        }
    }
}


//LAPTOP
@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    .home-page-main-container {
        .details-wrapper {}
    }
}