.sell-center-container {
    
    .sell-center-title {
        color: rgb(231, 120, 0) !important;
        font-family: "Space Grotesk";
    }

    .sell-center-info-shipping{
        display: flex;
        flex-direction: row;
    }
}