#cardHome:hover {
    transform: scale(1,01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4), 0 4px 8px rgba(0, 0, 0, .06);
}

#cardHome #productDescription {
    display: none;
}

/* #cardHome:hover #productDescription {
    display: block;
}  */

#cardHome:hover #cardHomeImage {
    border-bottom: 4px solid orange;
    border-radius: 5%;
}

#cardHomeImage{
    border-bottom: 4px solid white;
    border-radius: 5%;
}