.wrapper .button {
   display: inline-block;
   height: 60px;
   width: 60px;
   float: left;
   margin: 0 5px;
   background: white;
   cursor: pointer;
   box-shadow: 0px 10px 10px #fd7e14;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
   overflow: hidden;
}

/* .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}


.wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #1DA1f2;
} */

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: "60px";
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}