$phone-min-width: 320px;
$phone-max-width: 480px;

$tablet-min-width: 481px;
$tablet-max-width: 768px;

$laptop-min-width: 769px;
$laptop-max-width: 1024px;

.notification-container {
    position: fixed;
    background-color: red;
    z-index: 1000;
    top: -60px;
    animation: enter-leave 3s ease-in-out;
    left: calc(50% - 250px);
    width: 500px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.75rem;


    @keyframes enter-leave {
        0% {
            top: -60px;
        }

        7.5% {
            top: 16px;
        }

        92.5% {
            top: 16px;
        }

        100% {
            top: -60px;
        }
    }

    &.error {
        background: #ffe7e6;
        border: solid #ff5757;
        border-width: 0 6px 0 6px;
        color: #ff5757;
    }

    &.success {
        background: #e4f8f0;
        border: solid #1ea97c;
        border-width: 0 6px 0 6px;
        color: #1ea97c;
    }

    &.warning {
        background: #fff2e2;
        border: solid #cc8925;
        border-width: 0 6px 0 6px;
        color: #cc8925;
    }

    .close-icon {
        cursor: pointer;
    }
    
    .notification-detail{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (min-width: $phone-min-width) and (max-width: $phone-max-width) {
    .notification-container {
        position: fixed;
        background-color: red;
        z-index: 1000;
        top: -60px;
        animation: enter-leave 3s ease-in-out;
        left: calc(50% - 200px);
        width: 400px;
        height: 60px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 1.75rem;
    }
}
