$phone-min-width: 320px;
$phone-max-width: 480px;

$tablet-min-width: 481px;
$tablet-max-width: 768px;

$laptop-min-width: 769px;
$laptop-max-width: 1024px;

.register-wrapper {
    margin: 2%;
    text-align: center;
    font-family: "Space Grotesk";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 50% !important;
    gap: 15px;
    background: white;
    border: 1px solid #ced4da;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: rgba(20, 20, 20, 1);
    font-weight: 430;
    box-shadow: 0px 148px 59px rgba(0, 0, 0, 0.01), 0px 83px 50px rgba(0, 0, 0, 0.05), 0px 37px 37px rgba(0, 0, 0, 0.09), 0px 9px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

    .register-title {
        display: inline;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
    }

    .register-label {
        display: block;
    }

    .register-terms {
        display: flex;
        flex-direction: row;
        gap: 10px;
        white-space: nowrap;
    }

    .register-input {
        width: 75%;
    }

    .register-submit {
        width: 70%;
        color: white;
        border: #e77800;
        background-color: #e77800;
        border-radius: 18px;
        padding: 10px;
        height: 100%;

        &:hover {
            background-color: #b86001;
        }
    }

    .a-register {
        color: #e77800;

        &:hover {
            color: #b86001;
        }
    }

    .p-register {
        display: flex;
        flex-direction: column;
    }

    /* } */
}

//PHONE
@media screen and (min-width: $phone-min-width) and (max-width: $phone-max-width) {
    .register-wrapper {
        width: 75% !important;

        .register-terms {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .register-input {
            width: 75%;
        }

        .a-register {
            margin-left: 5px;
        }

        .p-register {
            white-space: nowrap;
        }
    }
}

//TABLET
@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .register-wrapper {
        width: 75% !important;

        .register-terms {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .register-input {
            width: 75%;
        }

        .a-register {
            margin-left: 5px;
        }

        .p-register {
            white-space: nowrap;
        }
    }
}

//LAPTOP
@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    .register-wrapper {
        width: 75% !important;

        .register-terms {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .register-input {
            width: 75%;
        }

        .a-register {
            margin-left: 5px;
        }

        .p-register {
            white-space: nowrap;
        }
    }
}