$phone-min-width: 320px;
$phone-max-width: 480px;

$tablet-min-width: 481px;
$tablet-max-width: 768px;

$laptop-min-width: 769px;
$laptop-max-width: 1024px;


.footer {
    width: 100%;
    background-color: #2e2d2c;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    bottom: 0;

    .footer-over {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        gap: 150px;
        font-family: "Space Grotesk";
        border-bottom: solid 1px #FFFFFF;

        .category-title {
            color: #e77800;
        }

        .category-name {
            p {
                cursor: pointer;

                &:hover {
                    color: #e77800;
                }
            }
        }
    }

    .footer-down {
        padding-top: 1%;
        width: 100%;
        border-top: #FFFFFF;
        height: 50px;
    }
}

//PHONE
@media screen and (min-width: $phone-min-width) and (max-width: $phone-max-width) {
    .footer {
        padding-top: 10%;
        padding-bottom: 10%;
        height: 100%;

        .footer-over {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .footer-down { 
            border-top: #FFFFFF;
            height: fit-content;
        }
    }
}


//TABLET
@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .footer {
        padding-top: 10%;
        padding-bottom: 10%;
        height: 100%;

        .footer-over {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .footer-down {
            padding-top: 3%;
            height: fit-content;
        }
    }
}


//LAPTOP
@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    .footer {
        padding-top: 2%;
        height: 100%;
        padding-bottom: 10%;

        .footer-over {
            display: flex;
            gap: 30px;
        }

        .footer-down {
            padding-top: 2%;
            border-top: #FFFFFF;
            height: 50px;
        }
    }
}